@{
    ViewData["Title"] = "implementationselfreflection";
}
<h2>IEX Trading Application</h2>
<hr />
<h2>Implementation</h2>
<div>
    <p>
        We explored IEX Trading website and the GitHub code shared by the professor for getting insights about the stocks and the MVC model. After researching and brainstorming about it, we took Infocus stocks into consideration from IEX Trading website. Infocus stocks from IEX Trading are the stocks that are having a high level of performance in the stock market during current period of year. This information gave us the best results about which were the top 5 stocks in last week that had the best performance amongst other stocks. The main factors which were taken into consideration for the deciding factor were exchange rate, industry or domain it belonged to, percentage change it had the most in that period and age of the stock.
        <br />
        We created a new function in the controller which would extract all the stocks from the infocus stocks section of the page. Then we programmed a model which would extract the required information from IEX Trading website. After getting all the necessary information, we created a new function in the main controller for determining top 5 performing stocks during last week. After getting top 5 stocks, we created a new view to display the best 5 stocks under new tab ‘Top 5 Stocks’ on the website.
    </p>
    <p>
        <h2>Self Reflection</h2>
        <ul>
            <li>Learnt about MVC working pattern and control flows associated within MVC web application.</li>
            <li>We also got an extensive hands on experience on HTML, CSS and JavaScript during this exercise.</li>
            <li>Learnt how to consume an API supplied by a third party like IEXTrading and use it to model the web application and deliver value.</li>
            <li>Learnt how to establish connections to databases through MVC web applications.</li>
            <li>We had a comprehensive understanding on how stock pricing work and what basis the stocks are traded utilizing parameters such as open value, open time, close value, day low, volume and many other associated variables involved.</li>
            <li>We gained additional knowledge on trading and stocks through below</li>
            <ul>
                <li>American association journal</li>
                <li>Magic formula investing website</li>
                <li>Investopedia</li>
            </ul>
        </ul>
    </p>
</div>